#page>div>main>div>div>article>div>div.wp-block-woocommerce-checkout.alignwide.wc-block-checkout>div.wc-block-components-sidebar-layout.wc-block-checkout.is-large {
    margin: 78px 27px 0 27px;
}

#page>div>main>div>div>article>div>div.wp-block-woocommerce-checkout.alignwide.wc-block-checkout>div.wc-block-components-sidebar-layout.wc-block-checkout.is-large>div.wc-block-components-sidebar.wc-block-checkout__sidebar.wp-block-woocommerce-checkout-totals-block.is-sticky.is-large>div.wp-block-woocommerce-checkout-order-summary-block {
    border-radius: 10px;
    background: var(--50, #FBFBEE);
}

#page>div>main>div>div>article>div>div.wp-block-woocommerce-checkout.alignwide.wc-block-checkout>div.wc-block-components-sidebar-layout.wc-block-checkout.is-large>div.wc-block-components-main.wc-block-checkout__main.wp-block-woocommerce-checkout-fields-block>form>div.wc-block-checkout__actions.wp-block-woocommerce-checkout-actions-block>div.wc-block-checkout__actions_row>button {
    border-radius: 24px;
    background: var(--200, #DEAFB8);
}